/** Author: Torcellite **/
@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400);
html {
        height: 100%;
	    width: 100%;
        margin: 0;
        padding: 0;
}
body {
        margin: 0;
        min-height: 100%;
        position: relative;
        padding-bottom: 48px; /** height of footer **/
}
h3 {
		font-family: 'Roboto Condensed', sans-serif;  
   		font-weight: 500;	
}
input, textarea {
        color: #000;
        padding: 2px;
        margin: 0;                      /* to get similar sized boxes */
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* Opera/IE 8+ */
}
input {
        border: 1px solid #888;
}
textarea {
        border: 1px solid #888;
        resize: none;
}
ol, li {
		margin: 2px;
}
a {
		color: #FFFFFF;
}
a:visited {
		color: #EFEFEF;
}
a:hover,a:active {
		color: #DFDFDF;
}
pre {
		font-family: 'Roboto Condensed', sans-serif;  
   		font-weight: 300;	
    	white-space: pre-wrap;       /* CSS 3 */
    	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    	white-space: -pre-wrap;      /* Opera 4-6 */
    	white-space: -o-pre-wrap;    /* Opera 7 */
   		word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.header {
		height: 64px;
		background-color: #071233;
  		white-space: nowrap;
  		position: relative;
		color: #FFF;
		vertical-align: middle;
		padding-left: 48px;
}
.title {
		font-family: 'Roboto Condensed', sans-serif;  
   		font-weight: 300;	
		text-align: center;
		margin-bottom: 0 auto;
		background: none;
		padding: 10px 24px 10px 24px;
		white-space: nowrap;
		display: inline-block;
		position: relative;
   		font-size: 28px;
}
.button {
		border: solid 0px #ffffff;
		border-radius: 2px;
		moz-border-radius: 2px;
		font-size: 18px;
		padding: 1px 20px;
		color: #FFFFFF;
		background-color: #5e5e5e;
}
.button:hover {
		background-color: #3e3e3e;
}
.content {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
        vertical-align: middle;
        background-color: #273253;
        color: #FFFFFF;
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 36px;
        padding-bottom: 48px;
        overflow: auto;
}
.disclaimer {
		font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
        padding-left: 8px;
        padding-right: 8px;
        background-color: #172243;
        overflow: auto;
        margin: 0px 24px 24px 24px;
}
.footer {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 300;
        font-size: 12px;
		background-color: #071233;
        position: absolute;
        color: #FFFFFF;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 24px 0 0 0;
        text-align: center;
        height: 48px;
        padding: 24px 0px 6px 0;
}